## Introduction to Databases
- A database is an organized collection of data that is stored and managed electronically. 
- Databases are designed to store large amounts of information in a structured way, making it easy to retrieve, update and delete information efficiently and securely.
- The data in a database is typically organized in tables composed of rows and columns. Each row represents a record, and each column represents a field in that record.
- Databases are used in various applications, from simple personal data storage to complex systems like banking, e-commerce, and enterprise resource planning (ERP). 
- They provide the backbone for managing the data needed by software applications to function effectively.

### Importance of Databases
- Efficient Data Management: Databases organize and store large amounts of data efficiently, making retrieval and updates quick and easy.
- Data Integrity: They ensure data is accurate and consistent through rules and transaction management.
- Security: Databases protect data with access controls and encryption, ensuring only authorized users can view or modify it.
- Data Retrieval: Using SQL and indexes, databases allow fast and precise data queries and searches.
- Backup and Recovery: Automated backups and recovery options protect data from loss or corruption.
- Concurrency Control: Databases manage simultaneous data access by multiple users without conflicts.
- Data Relationships: They enable linking related data across tables, simplifying complex queries.
- Data Redundancy: Databases minimize duplicate data and enforce consistency through normalization.
- Reporting and Analytics: They support data analysis and reporting, aiding in informed decision-making.
- Flexibility and Customization: Databases allow custom data structures and extend functionality with features like stored procedures.
- Collaboration and Sharing: Centralized databases enable easy data sharing and consistent information across teams and applications.
- Data Migration and Integration: They facilitate moving and integrating data between systems, ensuring smooth transitions.

### Types of Databases

#### Relational Databases:
- Data is stored in tables with rows and columns.
- Tables can be linked (related) based on common data, and this relationship makes it easy to retrieve and manage the data using Structured Query Language (SQL).

Examples:
- SQLite: A lightweight, serverless, and self-contained relational database engine. It’s embedded in many applications, including browsers and mobile apps, and is ideal for applications with a smaller data footprint. It's built into Python
- MySQL: Widely used in web development for applications like WordPress.
- PostgreSQL: Known for its robustness and support for advanced features.
- Oracle Database: Used in large enterprises for handling vast amounts of data.

#### NoSQL Databases
- Used for more flexible or unstructured data (e.g., JSON-like documents).

Examples:

- MongoDB
- Firebase
- Cassandra

#### Object-Oriented Databases:

- These databases store data in the form of objects, just like how we define objects in Object-Oriented Programming (OOP) in Python.
- Each object includes both data and behavior (methods).
- This type of database works best when you're building software in an OOP language and want a seamless way to store complex data.

Use Case:
- Storing structured data like customers, orders, shapes, or multimedia files in object form.
- Games, simulations, or CAD systems where object properties and behaviors need to be stored together.

Examples:
- db4o: An object-oriented database for Java and .NET developers.
- ObjectDB: A high-performance object database for Java.

#### Graph Databases:
- These databases store data using nodes, edges, and properties — just like a graph in math.
    - Nodes = entities (like people)
    - Edges = relationships (like “follows” or “friends with”)
    - Properties = extra info (like age or city)
- They're perfect when you want to model complex relationships.

Use Case:
- Social networks (e.g., who is connected to whom)
- Fraud detection (tracking suspicious links)
- Recommendation systems (suggesting friends, products)

Examples:
- Neo4j – The most popular graph database, widely used for relationship-heavy data.
- Amazon Neptune – AWS-managed service for scalable graph applications.

#### In-Memory Databases:

- Instead of storing data on a hard disk, these databases keep everything in RAM (memory), making them extremely fast.
- Since memory is faster than disk, these databases are used where speed and real-time performance are critical.

Use Case:
- Real-time analytics
- High-frequency trading
- Gaming leaderboards or session data
- Caching frequently accessed data

Examples:
- SAP HANA – Used for enterprise-level real-time analytics.
- Memcached – A caching system to speed up dynamic websites by storing frequently used data in memory.

#### Cloud Databases:

- These are databases that run on cloud platforms like AWS, Google Cloud, or Azure. You don’t have to manage the hardware or software — it’s all handled for you.
- They offer scalability, automatic backups, and easy remote access.

Use Case:
- Web and mobile apps that need to scale quickly
- Teams working remotely or globally
- Startups that don’t want to manage their own database servers

 Examples:
- Amazon RDS – A managed SQL database that supports MySQL, PostgreSQL, Oracle, and more.
- Google Cloud Firestore – A NoSQL document database for building serverless mobile/web apps.

### Real-World Examples 
- Social Media Platforms: Databases are used to store user profiles, posts, comments, likes, and more. For instance, Facebook uses databases to manage billions of user records.
- E-commerce Websites: Online stores like Amazon use databases to manage product inventories, customer orders, payment information, and shipment tracking.
- Banking Systems: Banks use databases to track customer accounts, transactions, loans, and financial histories securely and accurately.
- Healthcare Systems: Hospitals and clinics use databases to store patient records, treatment histories, medication prescriptions, and insurance information.

###  Core Concepts in Relational Databases
| Term            | Meaning                                              |
| --------------- | ---------------------------------------------------- |
| **Table**       | A set of rows and columns (like Excel sheets)        |
| **Row**         | A single record (e.g., one student)                  |
| **Column**      | A field of data (e.g., name, age, grade)             |
| **Primary Key** | A unique identifier for each row                     |
| **Foreign Key** | A link between tables (e.g., student to course)      |
| **Query**       | A command to get or change data (`SELECT`, `INSERT`) |

### Structured Query Language (SQL) 
- Structured Query Language (SQL) is the standard language for interacting with relational databases. 
- SQL allows you to perform various operations, including creating and managing tables, inserting and querying data, and even automating tasks with stored procedures and triggers.

### Common SQL Commands
| SQL Command    | What It Does                   |
| -------------- | ------------------------------ |
| `CREATE TABLE` | Create a new table             |
| `INSERT INTO`  | Add data                       |
| `SELECT`       | Retrieve data                  |
| `UPDATE`       | Modify existing data           |
| `DELETE`       | Remove data                    |
| `WHERE`        | Add condition (filtering data) |

## SQL Data Types

SQL data types define the kind of data a column can store. Each database (MySQL, PostgreSQL, SQL Server, etc.) may have slight differences, but most share the same basic categories.

### Numeric Data Types (Numbers)

Used to store integers or decimals.

| Data Type       | Description | Example |
|-----------------|------------|---------|
| INT / INTEGER   | Whole numbers | 10, -50 |
| SMALLINT        | Smaller range integers | 1000, -1000 |
| BIGINT          | Very large integers | 1000000000 |
| DECIMAL(p,s) / NUMERIC(p,s) | Fixed-point numbers with precision and scale | 10.25, 123.45 |
| FLOAT / REAL    | Approximate decimal numbers | 3.14, 2.718 |
| DOUBLE / DOUBLE PRECISION | Larger floating-point numbers | 123.456789 |

### Character / String Data Types (Text)

Used to store letters, words, or text.

| Data Type     | Description | Example |
|---------------|------------|---------|
| CHAR(n)       | Fixed-length string | 'USA' |
| VARCHAR(n)    | Variable-length string | 'Hello' |
| TEXT / CLOB   | Long text | 'This is a paragraph...' |

*Tip: Use VARCHAR for most text, TEXT for very long content.*

### Date and Time Data Types

Used to store dates and times.

| Data Type    | Description | Example |
|--------------|------------|---------|
| DATE         | Stores only date | '2025-11-06' |
| TIME         | Stores only time | '14:30:00' |
| DATETIME / TIMESTAMP | Stores date and time | '2025-11-06 14:30:00' |
| YEAR         | Stores a year | '2025' |

### Boolean / Logical Data Types

Used to store True or False values.

| Data Type  | Description | Example |
|------------|------------|---------|
| BOOLEAN    | True / False | TRUE, FALSE |
| BIT        | 0 or 1 | 0, 1 |

### Other / Special Data Types

| Data Type       | Description | Example |
|-----------------|------------|---------|
| BLOB / BYTEA    | Binary data (e.g., images, files) | 0xFFD8FFE0... |
| ENUM            | Fixed set of allowed values | 'small','medium','large' |
| JSON / JSONB    | Store JSON data | '{"name":"John","age":30}' |

*Choosing the right data type is important for storage efficiency, data integrity, and query performance.*

### Using SQLite in Python

#### 1. Import the Library

In [1]:
import sqlite3

#### 2. Create a New Database and Connect to It
This creates a file called `school.db`:

In [2]:
# Create or connect to the database
conn = sqlite3.connect("school.db")
conn.execute("PRAGMA foreign_keys = ON")  # Enforces foreign key constraints
cursor = conn.cursor()

`conn = sqlite3.connect("school.db")`
- `sqlite3.connect()` is a function that connects Python to an SQLite database file.
- `"school.db"` is the name of the database file you’re connecting to.
    - If this file already exists, Python connects to it.
    - If it doesn't exist, Python creates it automatically in the current directory.
- `conn` is the connection object, which keeps the link between Python and the database open.

`cursor = conn.cursor()`
- A cursor is like a “control tool” that lets you execute SQL commands (like SELECT, INSERT, UPDATE, DELETE) on the database.
- You need the cursor object to run any SQL queries.
- Think of `conn` as the door to the database, and `cursor` as the pen that writes commands.

 #### 3. Create the students Table

In [3]:
# cursor.execute sends an SQL command to the database through the cursor
cursor.execute("""     
CREATE TABLE IF NOT EXISTS Students (
    student_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    age INTEGER,
    grade TEXT,
    email TEXT UNIQUE
)
""")
conn.commit() #saves any changes made to the database permanently.

#### 3.1 Add a new column
You can use ALTER TABLE to add a column:

In [4]:
cursor.execute("ALTER TABLE Students ADD COLUMN phone TEXT")
conn.commit()

 `Note:` SQLite only allows limited structural changes via ALTER TABLE. You can add columns, but not delete or rename columns directly.

#### 3.2 Rename a column (SQLite ≥ 3.25.0)

In [5]:
cursor.execute("ALTER TABLE Students RENAME COLUMN grade TO class_level")
conn.commit()

#### 3.3 Rename the table

In [6]:
cursor.execute("ALTER TABLE Students RENAME TO learners")
conn.commit()

#### 3.4 To delete or change column types
`SQLite doesn't support directly dropping columns or changing data types. Instead, you'll need to:`

Step-by-step workaround:
Rename the old table:

In [7]:
cursor.execute("ALTER TABLE learners RENAME TO students_old")

Create a new table with the updated structure:

In [8]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    age INTEGER,
    grade TEXT,
    email TEXT 
)
""")

In [9]:
cursor.execute("DROP TABLE students_old")

Commit the changes:

In [10]:
conn.commit()

#### 4. Insert a Record into students

In [11]:
cursor.execute("""
INSERT INTO students (first_name, last_name, age, grade, email)
VALUES (?, ?, ?, ?, ?)
""", ("Cate", "Michael", 17, "10th", "john.doe@gmail.com"))
conn.commit()

#### Insert multiple students using executemany()

In [12]:
students_data = [
    ("Melody", "Bonareri", 17, "10th", "melody.bonareri@gmail.com"),
    ("John", "Kimani", 16, "9th", "johny.Kimani@gmail.com"),
    ("Mary", "Wanjiru", 18, "11th", "mary.wanjiru@gmail.com"),
    ("Kevin", "Otieno", 17, "10th", "kevin.otieno@gmail.com"),
    ("Susan", "Kamau", 15, "8th", "susan.kamau@gmail.com")
]

cursor.executemany("""
INSERT INTO students (first_name, last_name, age, grade, email)
VALUES (?, ?, ?, ?, ?)
""", students_data)

conn.commit()

#### 5. Select All Records (Read)

In [13]:
cursor.execute("SELECT * FROM students")
students = cursor.fetchall()

for student in students:
    print(student)

(1, 'Cate', 'Michael', 17, '10th', 'john.doe@gmail.com')
(2, 'Melody', 'Bonareri', 17, '10th', 'melody.bonareri@gmail.com')
(3, 'John', 'Kimani', 16, '9th', 'johny.Kimani@gmail.com')
(4, 'Mary', 'Wanjiru', 18, '11th', 'mary.wanjiru@gmail.com')
(5, 'Kevin', 'Otieno', 17, '10th', 'kevin.otieno@gmail.com')
(6, 'Susan', 'Kamau', 15, '8th', 'susan.kamau@gmail.com')

#### 6. Update a Student’s Grade
Update student with `id = 1`:

In [14]:
cursor.execute("""
UPDATE students
SET age = 20
WHERE id = 1
""")
conn.commit()

In [15]:
cursor.execute("SELECT * FROM students")
students = cursor.fetchall()
students

[(1, 'Cate', 'Michael', 20, '10th', 'john.doe@gmail.com'),
 (2, 'Melody', 'Bonareri', 17, '10th', 'melody.bonareri@gmail.com'),
 (3, 'John', 'Kimani', 16, '9th', 'johny.Kimani@gmail.com'),
 (4, 'Mary', 'Wanjiru', 18, '11th', 'mary.wanjiru@gmail.com'),
 (5, 'Kevin', 'Otieno', 17, '10th', 'kevin.otieno@gmail.com'),
 (6, 'Susan', 'Kamau', 15, '8th', 'susan.kamau@gmail.com')]

#### 7. Delete a Student Record
Delete the student with `id = 1`:

In [16]:
cursor.execute("DELETE FROM students WHERE id = 4")
conn.commit()

In [17]:
cursor.execute("SELECT * FROM students")
students = cursor.fetchall()
students

[(1, 'Cate', 'Michael', 20, '10th', 'john.doe@gmail.com'),
 (2, 'Melody', 'Bonareri', 17, '10th', 'melody.bonareri@gmail.com'),
 (3, 'John', 'Kimani', 16, '9th', 'johny.Kimani@gmail.com'),
 (5, 'Kevin', 'Otieno', 17, '10th', 'kevin.otieno@gmail.com'),
 (6, 'Susan', 'Kamau', 15, '8th', 'susan.kamau@gmail.com')]

#### Create a Second Table (courses)

In [18]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    course_name TEXT NOT NULL UNIQUE
)
""")
conn.commit()
# This will allow us to link each course to a specific student.

#### Insert courses

In [19]:
courses = [
    ("Data Science",),
    ("Machine Learning",),
    ("Databases",),
    ("Mathematics",)
]

cursor.executemany("INSERT OR IGNORE INTO courses (course_name) VALUES (?)", courses)
conn.commit()

# show all courses
cursor.execute("SELECT * FROM courses ORDER BY id")
print(cursor.fetchall())

[(1, 'Data Science'), (2, 'Machine Learning'), (3, 'Databases'), (4, 'Mathematics')]

### Using Foreign Keys

- **Referential Integrity:**  
  Foreign keys ensure that relationships between tables remain consistent.  
  In this case, the `enrollments` table uses foreign keys to reference the `students` and `courses` tables.  
  This means you cannot add a record to the `enrollments` table with a `student_id` or `course_id` that does not exist in the `students` or `courses` tables, respectively.

- **Cascading Actions:**  
  Foreign keys can be used with cascading actions to automate updates or deletions.  
  For example, if a student is deleted from the `students` table, all their associated records in the `enrollments` table will be automatically deleted.  
  Similarly, if a course is removed from the `courses` table, all related enrollment records for that course will also be deleted.

### Enforcing Referential Integrity
Let’s say you try to insert a course with a student_id that doesn’t exist in the students table:

### Enabling Foreign Keys in SQLite

By default, SQLite may not enforce foreign key constraints unless they are explicitly enabled.

`PRAGMA foreign_keys = ON;`

`PRAGMA` is a special command in SQLite that lets you query or change settings of your database engine.

### Using Foreign Keys with Cascading Actions
SQLite supports several actions that can be performed automatically when a foreign key constraint is violated:

- `ON DELETE CASCADE`: Automatically deletes the related rows in the child table when a row in the parent table is deleted.
- `ON UPDATE CASCADE`: Automatically updates the related rows in the child table when a row in the parent table is updated.

Example: Adding ON DELETE CASCADE

Suppose we want to ensure that when a student is deleted, all their associated enrollment details are also deleted:

In [20]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS enrollments (
    student_id INTEGER NOT NULL,
    course_id INTEGER NOT NULL,
    enrolled_on TEXT DEFAULT (datetime('now')),
    PRIMARY KEY (student_id, course_id),
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
    FOREIGN KEY (course_id) REFERENCES courses(id) ON DELETE CASCADE
)
""")

conn.commit()

#### 9. Insert multiple enrollment records
Now, let’s insert some data into enrollment tables.

In [21]:
enrollments = [
    (1, 1),  # Student 1 enrolled in Course 1
    (1, 2),  # Student 1 enrolled in Course 2
    (2, 3),  # Student 2 enrolled in Course 3
    (3, 4),  # Student 3 enrolled in Course 4
]

cursor.executemany("""
INSERT INTO enrollments (student_id, course_id)
VALUES (?, ?)
""", enrollments)

conn.commit()
print("Enrollments added successfully!")

Enrollments added successfully!

Perform a JOIN:

In [22]:
cursor.execute("""
SELECT 
    s.first_name,
    s.last_name,
    c.course_name
FROM enrollments e
JOIN students s ON e.student_id = s.id
JOIN courses c ON e.course_id = c.id
""")

for row in cursor.fetchall():
    print(row)

('Cate', 'Michael', 'Data Science')
('Cate', 'Michael', 'Machine Learning')
('Melody', 'Bonareri', 'Databases')
('John', 'Kimani', 'Mathematics')

### Deleting a Record with ON DELETE CASCADE
Now, if you delete Alice from the students table:

In [23]:
cursor.execute("""DELETE FROM students WHERE id = 2""" ) 
conn.commit()

All records related to Melody in the courses table will also be deleted automatically, thanks to the ON DELETE CASCADE rule.

In [24]:
cursor.execute("""SELECT * FROM enrollments""")
courses = cursor.fetchall()

for course in courses:
    print(course)

(1, 1, '2025-11-05 18:18:03')
(1, 2, '2025-11-05 18:18:03')
(3, 4, '2025-11-05 18:18:03')

#### 10. Close the Database Connection

In [25]:
conn.close()

### Overview of NoSQL Databases
- NoSQL databases are non-relational databases designed to handle large volumes of unstructured, semi-structured, or structured data.

### Properties of NoSQL Databases
- `Schema Flexibility`: You don’t need to define the structure of your data before storing it. This means you can add new fields anytime without breaking your database.
    - Perfect for situations where the structure of your data keeps changing — like adding new features to a web app or working with data from different sources
- `Scalability`: NoSQL databases are built to scale horizontally, meaning they can handle more traffic by adding more machines (servers), not just upgrading one big server.
    - Ideal for systems like social media, e-commerce, or real-time apps that grow fast and need to support lots of users and data.
- `High Performance`: Designed to handle large volumes of data with low latency, NoSQL databases are optimized for performance, particularly in big data and real-time web applications.
- `Distributed Architecture`: NoSQL databases store and manage data across multiple machines by default. This makes them more fault-tolerant.
    - If one server goes down, the others keep the system running. This makes NoSQL a great choice for high-availability systems like cloud apps or global platforms.

### Types of NoSQL Databases
- Document Stores: Store data as JSON-like documents.
    - Example: MongoDB
- Key-Value Stores: Data is stored as key-value pairs.
    - Example: Redis, Amazon DynamoDB
- Wide-Column Stores: Data is stored in tables, rows, and columns, but with flexible columns.
    - Example: Apache Cassandra, HBase
- Graph Databases: Focus on relationships between entities, represented as nodes and edges.
    - Example: Neo4j, Amazon Neptune

### Applications of NoSQL Databases
1. Big Data: Handling vast amounts of data across distributed systems (e.g., Hadoop and Cassandra).
2. Real-Time Web Applications: Storing and retrieving data quickly for dynamic, real-time applications like social media, e-commerce, and online gaming (e.g., MongoDB, Redis).
3. Content Management Systems (CMS): Flexible storage for various types of content without predefined schema requirements (e.g., MongoDB).
4. Internet of Things (IoT): Efficiently managing streams of data from IoT devices (e.g., Cassandra, InfluxDB).

### Real-Life Examples
1. MongoDB:
- Application: Used by companies like Uber and eBay for flexible, scalable data storage, handling dynamic user data and real-time analytics.
2. Cassandra:
- Application: Used by Facebook for its inbox search, handling massive amounts of data with high availability and fault tolerance.
3. Neo4j:
- Application: Used by LinkedIn for managing and analyzing its social graph, tracking complex relationships between users.

# Introduction to MongoDB

**MongoDB** is a popular **NoSQL database** known for being:
- **Scalable** – easily handles growing data.
- **Flexible** – stores data without needing a fixed structure.
- **Easy to use** – works well with modern applications.

It stores data in **JSON-like documents**. 

Unlike SQL databases (which use tables and rows), MongoDB uses collections and documents.

---

## Key Features of MongoDB

- **Document-Oriented:**  
  Stores data in **BSON** (Binary JSON) format, which supports complex, nested data.

- **Schema-Less:**  
  Collections don’t require a fixed structure. Each document can look different — perfect for unstructured or semi-structured data.

- **Horizontal Scalability (Sharding):**  
  Can **spread data across servers**, helping your app scale as needed.

- **High Availability (Replication):**  
  Uses **replica sets** to copy data across multiple servers. If one fails, another takes over.

- **Indexing:**  
  Supports various indexes (e.g. text, geospatial, compound) to **speed up queries**.

- **Aggregation Framework:**  
  Built-in tools for **filtering, grouping, sorting**, and more—right inside the database.

- **File Storage (GridFS):**  
  Allows storing large files (e.g. images, videos) directly in MongoDB.

---

## MongoDB Architecture Overview

- **Document:**  
  - A record in MongoDB. 
  - Stored in BSON (JSON-like) format.
```json
{
  "firstName": "Alice",
  "age": 25,
  "skills": ["Python", "MongoDB"]
}
```

- **Collection:**  
  - Group of documents (like a table in SQL). 
  - Documents inside a collection can have different structures.

- **Database:**  
  - A container that holds multiple collections.

---

### MongoDB Terminology (vs SQL)
| SQL Term    | MongoDB Term                  |
| ----------- | ----------------------------- |
| Table       | Collection                    |
| Row         | Document                      |
| Column      | Field                         |
| Primary Key | `_id` field                   |
| JOIN        | Manual reference or embedding |

### How to Create an Account and Set Up MongoDB Atlas
#### 1. Create a MongoDB Atlas Account
#### 2. Sign Up:
    - Go to the MongoDB Atlas website.
    - Click on “Start Free” and sign up using your email or Google account.
#### 3. Create a New Project:
    - After logging in, create a new project (e.g., “School Database Project”).
#### 4.Create a Cluster:
    - Select a cloud provider (AWS, GCP, Azure) and a region.
    - Choose the free tier option and create the cluster.
#### 5. Create a Database User:
    - Go to “Database Access” and create a new user with a username and password.
#### 6. Set Up Network Access:
    - In “Network Access”, add your IP address to allow connections from your machine.
#### 7. Get Your Connection String:
    - Go to “Clusters”, click on “Connect”, and choose “Connect your application”. Copy the provided connection string.

### Connecting MongoDB Atlas Using Python (pymongo)
#### 1. Install pymongo:

Open your terminal and install the pymongo package:

```bash
pip install pymongo
```

#### 2. Connect to MongoDB Atlas:

In [75]:
from pymongo import MongoClient

In [77]:
# Replace <username>, <password>, and <cluster-url> with your actual connection string details
uri = "mongodb+srv://melody:Perpetua123@cluster0.vkcnb.mongodb.net/ZinduaDB"
client = MongoClient(uri)

# quick test
print(client.list_database_names())

['ZinduaDB', 'library', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'school', 'schoolDB', 'usa', 'admin', 'local']

- MongoClient() connects your Python app to your MongoDB Atlas cluster.
- Replace `<username>`, `<password>`, and `<cluster-url>` with the values from your MongoDB connection string.
- This gives you access to the database from Python.

### Create (or Access) Your Database

In [78]:
# Connect to the 'school' database
db = client["ZinduaDB"]   # selects or creates the "school" database

- This connects to a database called school.
- And then accesses a collection (like a table) called students.

### Create a Collection

In [79]:
# Access the 'students' collection
students = db["students"]

### CRUD Operations with MongoDB Atlas
#### Create a Collection and Insert a Document

#### Insert Documents (Records)

MongoDB stores data as documents (in JSON-like format).

In [80]:
# inserting one student:
students.insert_one({"name": "Alice", "age": 22, "course": "Data Science"})

InsertOneResult(ObjectId('690cddd89e4b5d561f6dcaf2'), acknowledged=True)

### Or insert many at once:

In [81]:
students.insert_many([
    {"name": "Brian", "age": 24, "course": "Web Development"},
    {"name": "Clara", "age": 21, "course": "Machine Learning"},
    {"name": "David", "age": 23, "course": "Data Analysis"}
])

InsertManyResult([ObjectId('690cde259e4b5d561f6dcaf3'), ObjectId('690cde259e4b5d561f6dcaf4'), ObjectId('690cde259e4b5d561f6dcaf5')], acknowledged=True)

### Retrieve (View) Data

You can now fetch all documents from the collection:

In [82]:
for student in students.find():
    print(student)

{'_id': ObjectId('690cddd89e4b5d561f6dcaf2'), 'name': 'Alice', 'age': 22, 'course': 'Data Science'}
{'_id': ObjectId('690cde259e4b5d561f6dcaf3'), 'name': 'Brian', 'age': 24, 'course': 'Web Development'}
{'_id': ObjectId('690cde259e4b5d561f6dcaf4'), 'name': 'Clara', 'age': 21, 'course': 'Machine Learning'}
{'_id': ObjectId('690cde259e4b5d561f6dcaf5'), 'name': 'David', 'age': 23, 'course': 'Data Analysis'}

#### Or apply filters,

In [85]:
for student in students.find({"course": "Data Analysis"}):
    print(student)

{'_id': ObjectId('690cde259e4b5d561f6dcaf5'), 'name': 'David', 'age': 23, 'course': 'Data Analysis'}

### Update a Document
- `“$set”` statement is used in an update operation to modify the value of a specific field in a document.

In [86]:
students.update_one(
    {"name": "Alice"},             # filter
    {"$set": {"age": 23}}          # update operation
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000096'), 'opTime': {'ts': Timestamp(1762451166, 1), 't': 150}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1762451166, 1), 'signature': {'hash': b'\x9c.]\xe5\xccY]\x17M\x06w\xb0\xfd\x8f\xaf\x16\xbf\x9e\xd2z', 'keyId': 7515498623975555077}}, 'operationTime': Timestamp(1762451166, 1), 'updatedExisting': True}, acknowledged=True)

#### Delete a Document

In [87]:
students.delete_one({"name": "David"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000096'), 'opTime': {'ts': Timestamp(1762451269, 1), 't': 150}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1762451269, 1), 'signature': {'hash': b'4i\xb0F\x9a\xc8m\x92R\xd3\xef\x10\xd3sG\x88\xb6\xb1\xc6\x85', 'keyId': 7515498623975555077}}, 'operationTime': Timestamp(1762451269, 1)}, acknowledged=True)

### Relationships in MongoDB
MongoDB is `non-relational`, meaning it doesn’t enforce foreign keys like SQL databases.

However, we can still relate data logically in two main ways:
- `Manual References` (linking by _id)
- `Embedded Documents` (nesting one document inside another)

#### Manual References (like a Foreign Key)

Here you store the `_id` of a document from another collection.

This approach is useful when data grows large or changes often.

Example

Let’s say we have two collections:
- courses
- students

#### Create the courses Collection

In MongoDB, a collection is created automatically when you first insert data into it.

In [88]:
# Create the 'course' collection
course_collection = db["course"]

# Insert one sample document
course = {
    "name": "Mathematics",
    "teacher": "Mr. Smith",
    "duration": "3 months"
}

course_collection.insert_one(course)
print("Course inserted successfully!")

Course inserted successfully!

In [89]:
# Insert multiple course records
courses = [
    {"name": "Physics", "teacher": "Dr. Brown", "duration": "4 months"},
    {"name": "Chemistry", "teacher": "Ms. Adams", "duration": "3 months"},
    {"name": "Biology", "teacher": "Mr. Clark", "duration": "5 months"},
    {"name": "Computer Science", "teacher": "Mrs. White", "duration": "6 months"}
]

course_collection.insert_many(courses)
print("Multiple courses inserted successfully!")

Multiple courses inserted successfully!

In [90]:
# View all courses
for course in course_collection.find():
    print(course)

{'_id': ObjectId('690ce03d9e4b5d561f6dcaf6'), 'name': 'Mathematics', 'teacher': 'Mr. Smith', 'duration': '3 months'}
{'_id': ObjectId('690ce0669e4b5d561f6dcaf7'), 'name': 'Physics', 'teacher': 'Dr. Brown', 'duration': '4 months'}
{'_id': ObjectId('690ce0669e4b5d561f6dcaf8'), 'name': 'Chemistry', 'teacher': 'Ms. Adams', 'duration': '3 months'}
{'_id': ObjectId('690ce0669e4b5d561f6dcaf9'), 'name': 'Biology', 'teacher': 'Mr. Clark', 'duration': '5 months'}
{'_id': ObjectId('690ce0669e4b5d561f6dcafa'), 'name': 'Computer Science', 'teacher': 'Mrs. White', 'duration': '6 months'}

#### Manual Reference (Linking by _id)

We’ll add students who are enrolled in existing courses.

In [91]:
from bson import ObjectId

# existing collections
courses = db["course"]   #collection name
students = db["students"]

# Find one course (e.g., Mathematics)
math_course = courses.find_one({"name": "Mathematics"})
print("Mathematics Course ID:", math_course["_id"])

# Add a student who takes Mathematics
students.insert_one({
    "name": "Melody Bonareri",
    "age": 23,
    "course_id": math_course["_id"]   # store the course _id
})

print("Student inserted successfully!")

Mathematics Course ID: 690ce03d9e4b5d561f6dcaf6
Student inserted successfully!

fetch both the student and their course:

In [92]:
student = students.find_one({"name": "Melody Bonareri"})
course = courses.find_one({"_id": student["course_id"]})

print("Student:", student["name"])
print("Course:", course["name"])

Student: Melody Bonareri
Course: Mathematics

#### Embedded Document (Nested Data)

Sometimes, we just embed the related data inside the same document.

In [94]:
students.insert_one({
    "name": "Michael Mutua",
    "age": 21,
    "course": {
        "name": "Physics",
        "teacher": "Mr. Albert"
    }
})

InsertOneResult(ObjectId('690ce1ef9e4b5d561f6dcafd'), acknowledged=True)

Now everything is stored in one document:

In [95]:
print(students.find_one({"name": "Michael Mutua"}))

{'_id': ObjectId('690ce18c9e4b5d561f6dcafc'), 'name': 'Michael Mutua', 'age': 21, 'course': {'name': 'Physics', 'teacher': 'Mr. Albert'}}

### How to See Your Database in MongoDB Atlas
#### 1. Log into MongoDB Atlas
- Go to: https://cloud.mongodb.com
- Sign in with your MongoDB Atlas account.

#### 2. Select Your Project
On the dashboard, click on the project where you created your cluster (e.g., "School Database Project").

#### 3. Go to Your Cluster
Click on the name of your cluster (e.g., Cluster0).

This takes you to the cluster overview page.

#### 4. Open the Data Explorer
In the cluster view, click on “Browse Collections” or “Data Explorer” (depending on your interface).

You'll now see a list of:

Databases (like school)

Collections inside those databases (like students)

#### 5. Browse Your Data
Click on your database (e.g., school)

Click on the collection (e.g., students)

You’ll see the documents (records) you inserted via your Python script using pymongo.

`Tip:`
If you don’t see the database yet:

Make sure you inserted at least one document using your Python script. MongoDB only shows databases and collections after they contain data.

#### Some key reasons why you might see the `"database locked"` error when working with SQLite

##### 1. Uncommitted or Unclosed Connection
You opened a database connection and made changes (like INSERT, UPDATE) but forgot to call conn.commit() or conn.close().

This keeps the database in a locked state.

`Fix:` Always commit after making changes:

In [ ]:
conn.commit()
conn.close()

##### 2. Multiple Scripts or Tabs Accessing the DB
You have the same database open in two Python scripts, or in a Python script and a GUI tool (like DB Browser or VS Code) at the same time.

If both try to write, SQLite locks the database.

`Fix:` Use only one program at a time to edit the database.

##### 3. Long-running SELECT or Unfinished Read
You ran a SELECT query and didn’t finish reading the results (left the cursor open).

SQLite locks the file until the read is done.

`Fix:` Fetch results and close the cursor:

In [ ]:
rows = cursor.fetchall()
cursor.close()

##### 4. Two Threads or Processes Writing at the Same Time
SQLite allows only one writer at a time.

If multiple parts of your program try to write at the same time, one gets locked out.

`Fix:`

Use a queue or background thread to control access.

Or use:

In [ ]:
conn.execute("PRAGMA busy_timeout = 5000")  # wait 5 seconds

##### 5. Temporary Lock Files Left Behind
If the program or your computer crashed while writing, lock files like mydb.db-wal or mydb.db-journal may be left behind.

SQLite thinks the DB is still in use.

`Fix:` Make sure all programs are closed, then delete any leftover .db-wal, .db-shm, or .db-journal files only if you're sure nothing is using the DB.

Use with to manage connections safely

In [ ]:
import sqlite3

with sqlite3.connect("students.db") as conn:
    cursor = conn.cursor()
    cursor.execute("INSERT INTO students (name, grade) VALUES (?, ?)", ("Alice", "A"))