## Dictionary

A **dictionary** is an **ordered**, **mutable**, and **indexed** collection of key-value pairs. 

Dictionaries do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

- **Keys** must be unique and immutable (e.g., strings, numbers, tuples).
- **Values** can be of any data type and can repeat.

### Creating a Dictionary

In [35]:
# Empty dictionary
empty_dict = {}
empty_dict

{}

In [36]:
# Dictionary with data
student = {
    'name': 'Alice',
    'age': 22,
    'grade': 'A'
}
student

{'name': 'Alice', 'age': 22, 'grade': 'A'}

In [38]:
students = {
    'name': ['Alice', 'John', 'Kim'],
    'age': [22, 25, 20],
    'grade': ['A', 'B', 'C'],
    'major': ['Computer Science', 'Mathematics', 'Physics']
}
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

### The dict() Constructor
It is also possible to use the `dict()` constructor to make a dictionary.

In [39]:
student = dict(name = "John", age = 36, country = "Kenya")
print(student)

{'name': 'John', 'age': 36, 'country': 'Kenya'}

### Common Dictionary Methods

| Method       | Description                         | Example                              |
|--------------|-------------------------------------|--------------------------------------|
| `get(key)`   | Get value for key                   | `student.get('age')`                 |
| `keys()`     | Returns all keys                    | `student.keys()`                     |
| `values()`   | Returns all values                  | `student.values()`                   |
| `items()`    | Returns (key, value) pairs          | `student.items()`                    |
| `update()`   | Updates dictionary with another     | `student.update({'age': 23})`        |
| `pop(key)`   | Removes key and returns value       | `student.pop('grade')`               |
| `clear()`    | Clears all items                    | `student.clear()`                    |

#### Accessing Dictionary Values

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [40]:
student

{'name': 'John', 'age': 36, 'country': 'Kenya'}

In [45]:
# Access by key
print(student['country'])    
student['email']

Kenya

KeyError: 'email'

In [46]:
student

{'name': 'John', 'age': 36, 'country': 'Kenya'}

In [49]:
# Using get() (safe access)
print(student.get('age'))    # 22
print(student.get('email'))  # None (does not raise an error)

36
None

In [50]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [51]:
# Accessing a value
students.get('name')

['Alice', 'John', 'Kim']

In [54]:
# Accesing a specific value using the index
students['name'][2]

'Kim'

### Get Keys
The `keys()` method will return a list of all the keys in the dictionary.

In [55]:
# Return all keys
students.keys()

dict_keys(['name', 'age', 'grade', 'major'])

### Get Values
The `values()` method will return a list of all the values in the dictionary.

In [57]:
# Return all values
print(students.values())

dict_values([['Alice', 'John', 'Kim'], [22, 25, 20], ['A', 'B', 'C'], ['Computer Science', 'Mathematics', 'Physics']])

### Get Items
The `items()` method will return each item in a dictionary, as tuples in a list.

In [62]:
# Return key-value pairs
students.items()

dict_items([('name', ['Alice', 'John', 'Kim']), ('age', [27, 25, 20]), ('grade', ['F', 'B', 'C']), ('major', ['Computer Science', 'Mathematics', 'Physics'])])

In [64]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [27, 25, 20],
 'grade': ['F', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

### Change Values
You can change the value of a specific item by referring to its key name:

In [66]:
# Change the age of 'Alice'
# students['age'][0] = 23
# students

students['grade'][0] = 'A'
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

### Update Dictionary
The `update()` method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [67]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [68]:
# using update method
students.update({'age': [23, 27, 20]})
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

### Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [69]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [71]:
# Add a new key-value pair
students['email'] = 'alice@example.com', 'john@example.com'
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics'],
 'email': ('alice@example.com', 'john@example.com')}

### Removing Items
There are several methods to remove items from a dictionary:

The `pop()` method removes the item with the specified key name:

In [73]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics'],
 'email': ('alice@example.com', 'john@example.com')}

In [74]:
# Remove grade
students.pop('grade')
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'major': ['Computer Science', 'Mathematics', 'Physics'],
 'email': ('alice@example.com', 'john@example.com')}

The `popitem()` method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [75]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'major': ['Computer Science', 'Mathematics', 'Physics'],
 'email': ('alice@example.com', 'john@example.com')}

In [76]:
# Remove last inserted item
students.popitem()

('email', ('alice@example.com', 'john@example.com'))

In [77]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

The `del` keyword removes the item with the specified key name:

In [78]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [79]:
# Remove using del keyword
del students['major']
students

{'name': ['Alice', 'John', 'Kim'], 'age': [23, 27, 20]}

The `clear()` method empties the dictionary:

In [80]:
student

{'name': 'John', 'age': 36, 'country': 'Kenya'}

In [81]:
# Clear all items
student.clear()
student

{}

### Loop Through a Dictionary
You can loop through a dictionary by using a `for` loop.

In [82]:
students = {
    'name': ['Alice', 'John', 'Kim'],
    'age': [22, 25, 20],
    'grade': ['A', 'B', 'C'],
    'major': ['Computer Science', 'Mathematics', 'Physics']
}
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [83]:
# for key, value in students.items():
#     print(key, value)

for key, value in students.items():
    print(key, value)

name ['Alice', 'John', 'Kim']
age [22, 25, 20]
grade ['A', 'B', 'C']
major ['Computer Science', 'Mathematics', 'Physics']

In [84]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [85]:
# for student in students['name']:
#     print(student)

for student in students['name']:
    print(student)

Alice
John
Kim

- Check if a key exists:

In [86]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [88]:
'name' in students 
# 'faculty' in students

True

### Nested Dictionaries

- You can create dictionaries inside dictionaries:

In [90]:
students = {
    "student1": {
        "name": "Alice",
        "age": 22
    },
    "student2": {
        "name": "Bob",
        "age": 25
    }
}

#print(students["student1"]["name"])  # Alice
students["student2"]["name"]

'Bob'

In [91]:
# dictionary
my_dict = {
    'apple': 10,
    'banana': 5,
    'orange': 8,
    'mango': 12
}

# Calculate the sum of all values
total = sum(my_dict.values())

# Display the result
print("The sum of all the values in the dictionary is:", total)

The sum of all the values in the dictionary is: 35

In [92]:
# Dictionary with tuples as values
my_dict = {
    'apple': (2, 4),
    'banana': (1, 3),
    'orange': (5,),
    'mango': (6, 2, 1)
}

total = sum([num for values in my_dict.values() for num in values])

print("The sum of all the values in the dictionary is:", total)

The sum of all the values in the dictionary is: 24